<div class="main_header">
  <div class="subject_header">
   <div class="subject">
     sample
   </div>
  </div>
  <div class="exit_header">
   <div class="exit_btn">
     <a href="/">チャットを終了する</a>
   </div>
  </div>
</div>

<div class="main_chat">
 <div class="chat_message">
  <div class="user_date">
   <div class="users">Steven</div>
   <div class="date_time">2021/04/01(mon) 12:00</div>
  </div>
  <div class="message_box">
   <div class="messages">hello</div>
  </div>
 </div>

 <div class="chat_message">
  <div class="user_date">
   <div class="users">John</div>
   <div class="date_time">2021/04/01(mon) 12:10</div>
  </div>
  <div class="message_box">
   <div class="messages">good morning</div>
  </div>
 </div>
</div>

<div class="message_form">
 <div class="text_submit">
   <input class="text" placeholder="type a message">
   <label class="form-image">
    <span class="image-file">画像</span>
    <input type="file" class="hidden">
   </label>
 </div>
   <input type="submit" value="送信" class="send">
</div>