<div class="left_header">
  <div class="user_name">
    <a href="/">Steven</a>
  </div>
  <div class="new_chat">
    <a href="/">チャットを作成する</a>
  </div>
</div>

<div class="chat_room">
  <div class="room">
   <div class="room_content">
     <a href="/">techroom1</a>
   </div>
  </div>
  <div class=room>
   <div class="room_content">
     <a href="/">techroom2</a>
    </div>
  </div>
</div>