.wrapper{
  display: flex;
}
.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.left_header{
  height: 100px;
  padding: 0 20px;
}
.chat_room{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}
.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.main_header{
  height: 100px;
  padding: 0 40px;
}
.main_chat{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}
.message_form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}